body {
  margin: 0;
  padding: 0;
  font-family: "Sergoe UI", sans-serif;
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content starting from the top */
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  text-align: left;
  margin-bottom: 20px;
}

.container {
  max-width: 88%;
  width: 90%;
  padding: 10px;
  text-align: center;
  margin-top: 20px; /* Adjust this to control how close to the top you want */
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

textarea,
input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #646cff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #535bf2;
}

.filter-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

select,
button {
  width: 100%;
  max-width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-top: 10px; /* Adjust top margin for smaller screens */
  }

  h1 {
    font-size: 24px;
  }

  form,
  .filter-sort {
    flex-direction: column;
  }

  textarea,
  input,
  button,
  select {
    width: 100%;
  }

  button {
    font-size: 14px;
  }
}
